.container {
    height: 100vh;
    background: linear-gradient(to top, var(--color-gold-dark), var(--color-black));
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: var(--color-white);
}

.cta {
    background: var(--color-gold);
    color: var(--color-black);
    border: none;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
}

.cta:hover {
    background: var(--color-white);
}